# Database files
warehouse.ddb
warehouse.ddb.wal

# Raw data - too large for git
data/raw/

# dbt
dbt/sportsdw/target/
dbt/sportsdw/.user.yml
dbt/logs/
dbt/sportsdw/logs/

# Python
__pycache__/
*.py[cod]
.env
venv/
.venv/
notebooks.ipynb 

# OS
.DS_Store
Thumbs.db